* {
  margin: 0;
}
/**
 * 通常 Body 最上面
 * 然後 基礎文字大小 20px
 * 在此定義
 * 然後 基礎大小的幾倍 請用 em
 */
body {
  font-size: 20px;
  width: 100%;
  height: 100%;
}

/**
 * Navigation
 */
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}
.navigation--left {
  font-weight: bold;
}
.navigation--right {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 8px;

  align-items: center;
}
.navigation--right > div {
  padding: 5px;
  font-size: 1em;
}

.menu--button {
  display: none;
}

/** Header */
.head {
  font-size: 2em; /** 等同 基礎文字 * 2  */
  background-color: rgb(255, 239, 239);
  height: 300px;

  /** 至中最快方式 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  border: 1px solid blue;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 20px;
}
.content > div {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, max-content);
}

.img {
  width: 100%;
}

.titlename {
  text-align: center;
  background-color: aquamarine;
  width: 100%;
}

@media (max-width: 1200px) and (min-width: 600px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .content {
    grid-template-columns: 1fr;
    max-width: 90%;
  }

  .navigation--right > div {
    display: none;
  }

  .menu--button {
    display: block;
  }
}
